<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Properties Editor</title>
        <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    </head>
    <body>
        <div id="mainContainerSmall">
            <h1>Properties Loader</h1>
            <form action="#" th:action="@{/upload}" method="post" enctype="multipart/form-data">
                <input class="list" type="file" name="file" accept=".properties" />
                <input class="list" type="submit" value="Upload" />
            </form>
            <script th:inline="javascript">
                /*<![CDATA[*/
                var message = /*[[${message}]]*/ 'default';
                if (!!message) {
                    alert(message);
                }
                /*]]>*/
            </script>
        </div>
    </body>
</html>