<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Properties Editor</title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div id="mainContainer">
    <h1>Properties Editor</h1>

    <form id="propRemove" action="#" th:action="@{/remove}" th:object="${property}" method="post" hidden>
        <input type="text" th:field="*{key}" />
        <input type="text" th:field="*{value}"/>
        <input type="submit" value="submit" />
    </form>
    <form action="#" th:action="@{/properties}" th:object="${property}" method="post">
        <input type="submit" value="Change" hidden />
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            <tr id="propInput">
                <td><input class="list" type="text" placeholder="add a new property" th:field="*{key}" onkeypress="onTypeKeyword(this)" /></td>
                <td><input class="list" type="text" placeholder="value" th:field="*{value}" /></td>
            </tr>
            <tr class="prop" th:each="prop : ${properties}">
                <td class="key" th:text="${prop.key}" onclick="setupInput(this)"></td>
                <td class="value" th:text="${prop.value}" onclick="setupInput(this)"></td>
                <td onclick="removeProperty(this)">remove</td>
            </tr>
        </table>
    </form>
    <li id="tips"></li>
</div>
<script>
    function removeProperty(element) {
        var removeForm = document.getElementById("propRemove");
        removeForm.children[0].value = element.parentElement.children[0].textContent;
        removeForm.children[1].value = element.parentElement.children[1].textContent;
        removeForm.submit();
    }
    function setupInput(element) {
        var propInput = document.getElementById("propInput");
        propInput.children[0].firstChild.value = element.parentElement.children[0].textContent;
        propInput.children[1].firstChild.value = element.parentElement.children[1].textContent;
    }
    function onTypeKeyword(keyword) {
        var tipsList = document.getElementById("tips");
        while (tipsList.firstChild) {
            tipsList.removeChild(tipsList.firstChild);
        }
        if (keyword.value.length > 0) {
            var propsElements = document.getElementsByClassName("prop");
            for(var i = 0; i < propsElements.length; i++) {
                var entryKey = propsElements[i].childNodes[1].textContent;
                if (entryKey.startsWith(keyword.value) && i <= 4) {
                    var li = document.createElement("li");
                    li.appendChild(document.createTextNode(entryKey));
                    tipsList.appendChild(li);
                }
            }
        }
    }
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var message = /*[[${message}]]*/ 'default';
    if (!!message) {
        alert(message);
    }
    /*]]>*/
</script>
</body>
</html>