<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Properties Editor</title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div class="mainContainer">
    <div class="container">
        <h1>Upload Properties</h1>
        <form action="./properties/upload" method="post" enctype="multipart/form-data">
            <div class="flexyContainer">
                <input class="fileInput rightMargin" type="file" name="file" accept=".properties" required />
                <input class="simpleButton small" type="submit" value="Upload" />
            </div>
        </form>
    </div>
    <div class="container">
        <h1>Properties Editor</h1>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            <!--/*@thymesVar id="property" type="com.spring.springPropertiesEditor.model.Property"*/-->
            <form id="propEdit" action="#" th:action="@{/properties}" th:object="${property}" method="post">
                <tr class="littleBorder" id="propInput" >
                    <td class="entry"><input class="simpleInput" type="text" th:field="*{key}" placeholder="add a new property" /></td>
                    <td class="entry"><input class="simpleInput" type="text" th:field="*{value}" placeholder="value" /></td>
                    <td class="minObject"><a href="/properties"><img class="imageButton" src="ic_close.png"/></a></td> <!-- -->
                    <input type="submit" hidden/>
                </tr>
            </form>
            <form action="#" th:action="@{/properties/delete}" method="post">
                <!--/*@thymesVar id="properties" type="java.util.Map<String, String>"*/-->
                <tr class="topBorder" th:each="prop : ${properties}">
                    <td class="entry"><a th:href="@{/properties(key=${prop.key})}" th:text="${prop.key}">Empty List</a></td>
                    <td class="entry"><a th:href="@{/properties(key=${prop.key})}" th:text="${prop.value}">No Value</a></td>
                    <td class="minObject"><button class="none" type="submit" th:name="${prop.key}" th:value="${prop.value}" ><img class="imageButton" src="ic_delete.png" /></button></td>
                </tr>
            </form>
        </table>
        <div class="flexyContainer">
            <form class="flexyChild rightMargin" action="./properties/download">
                <input class="simpleButton" type="submit" value="Download .properties"/>
            </form>
            <form class="flexyChild rightMargin" action="./properties/download/json">
                <input class="simpleButton" type="submit" value="Download .json"/>
            </form>
            <form class="flexyChild" action="./properties/download/yaml">
                <input class="simpleButton" type="submit" value="Download .yaml"/>
            </form>
        </div>
    </div>
    <div class="container">
        <h1>Change Logger</h1>
        <!--/*@thymesVar id="changes" type="java.util.List<String>"*/-->
        <ul>
            <li th:each="item : ${changes}" th:text="${item}">Log in here...</li>
        </ul>
        <div class="flexyContainer">
            <div class="flexyChild rightMargin">
                <form class="topMargin" action="./log/audit">
                    <input class="simpleButton" type="submit" value="Export Audit.log"/>
                </form>
            </div>
            <div class="flexyChild">
                <form class="topMargin" action="./log/application">
                    <input class="simpleButton" type="submit" value="Export Application.log"/>
                </form>
            </div>
        </div>
    </div>
    <div class="littleMargin"></div>
</div>
<script>
    var inputKey = document.getElementById("propInput").children[0].firstChild;
    inputKey.addEventListener('input', function() {
        highlightSameProperty();
    });
    highlightSameProperty();
    function highlightSameProperty() {
        var propsElements = document.getElementsByClassName("topBorder");
        var foundMatch = false;
        for(var i = 0; i < propsElements.length; i++) {
            var childKey = propsElements[i].childNodes[1].textContent;
            var backColor = "#fff";
            if (inputKey.value.length > 0 && childKey.indexOf(inputKey.value) == 0) {
                if (inputKey.value == childKey) {
                    backColor = "#beb";
                    foundMatch = true;
                } else {
                    backColor = "#ebb";
                }
            }
            propsElements[i].style.backgroundColor = backColor;
        }
        var inputKeyField = inputKey.parentElement;
        var inputValueField = inputKey.parentElement.nextElementSibling;
        if (foundMatch) {
            inputKeyField.style.backgroundColor = "#beb";
            inputValueField.style.backgroundColor = "#beb";
            inputValueField.firstChild.placeholder = "change value";
        } else {
            inputKeyField.style.backgroundColor = "#fff";
            inputValueField.style.backgroundColor = "#fff";
            inputValueField.firstChild.placeholder = "add value";
        }
    }
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var message = /*[[${message}]]*/ null;
    if (!!message) {
        alert(message);
    }
    /*]]>*/
</script>
</body>
</html>