<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Properties Editor</title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div id="mainContainer">
    <div class="container">
        <h1>Upload Properties</h1>
        <form action="./properties/upload" method="post" enctype="multipart/form-data">
            <input class="picker" type="file" name="file" accept=".properties" required />
            <input class="button" type="submit" value="Upload" />
        </form>
    </div>
    <div class="container">
        <h1>Properties Editor</h1>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            <!--/*@thymesVar id="property" type="com.spring.springPropertiesEditor.model.Property"*/-->
            <form id="propEdit" action="#" th:action="@{/properties}" th:object="${property}" method="post">
                <tr id="propInput">
                    <td class="entry"><input class="list" type="text" th:field="*{key}" placeholder="add a new property" /></td>
                    <td class="entry"><input class="list" type="text" th:field="*{value}" placeholder="change value" /></td>
                    <td><a href="/properties"><img class="imgBtn" src="ic_close.png"/></a></td> <!-- -->
                    <input type="submit" hidden/>
                </tr>
            </form>
            <form action="#" th:action="@{/delete}" method="post">
                <!--/*@thymesVar id="properties" type="java.util.Map<String, String>"*/-->
                <tr class="propList" th:each="prop : ${properties}">
                    <td class="entry"><a th:href="@{/properties(key=${prop.key})}" th:text="${prop.key}">Empty List</a></td>
                    <td class="entry"><a th:href="@{/properties(key=${prop.key})}" th:text="${prop.value}">No Value</a></td>
                    <td><button class="none" type="submit" th:name="${prop.key}" th:value="${prop.value}" ><img class="imgBtn" src="ic_delete.png" /></button></td>
                </tr>
            </form>
        </table>
        <form class="someMargin" action="./properties/download">
            <input class="button" type="submit" value="Download .properties"/>
        </form>
    </div>
    <div class="container">
        <h1>Change Logger</h1>
        <!--/*@thymesVar id="changes" type="java.lang.Iterable<com.spring.springPropertiesEditor.model.Log>"*/-->
        <table th:if="${not #lists.isEmpty(changes)}">
            <tr>
                <th>Change</th>
                <th>Timestamp</th>
            </tr>
            <tr class="propList" th:each="log : ${changes}">
                <td class="entry" th:text="${log.message}"></td>
                <td th:text="${log.created}"></td>
            </tr>
        </table>
        <div class="flexy">
            <div class="halfContainer left">
                <form class="someMargin" action="./changes/json">
                    <input class="button" type="submit" value="Export .json"/>
                </form>
            </div>
            <div class="halfContainer">
                <form class="someMargin" action="./changes/yaml">
                    <input class="button" type="submit" value="Export .yaml"/>
                </form>
            </div>
        </div>
    </div>
    <div class="bottomBar"></div>
</div>
<script>
    var inputKey = document.getElementById("propInput").children[0].firstChild;
    inputKey.addEventListener('input', function() {
        highlightSameProperty();
    });
    highlightSameProperty();
    function highlightSameProperty() {
        var propsElements = document.getElementsByClassName("propList");
        for(var i = 0; i < propsElements.length; i++) {
            var childKey = propsElements[i].childNodes[1].textContent;
            var backColor = "#fff";
            if (inputKey.value == childKey) {
                backColor = "#beb";
            }
            propsElements[i].style.backgroundColor = backColor;
        }
    }
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var message = /*[[${message}]]*/ null;
    if (!!message) {
        alert(message);
    }
    /*]]>*/
</script>
</body>
</html>